body {
  background-color: rgb(164, 233, 164);
  font-family: 'Merriweather', serif;
}

form {
  line-height: 27px;
}

h2 {
  font-size: 20px;
}

input[type='text'],
input[type='number'] {
  min-height: 20px;
  margin:15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

input[type='radio'] {
  margin-left: 12px;
}

#main {
  background-color: rgba(240, 245, 141, 0.8);
  text-align: center;
  height: 100vh;
  border-radius: 15px;
  margin: 2% 10%;
  overflow: auto;
  padding:5px;
}

#story {
  padding: 0 3%;
}

#top {
  background-color: rgb(255, 255, 255);
  margin: 2% 10%;
  border-radius: 15px;
}

#top img {
  display: block;
  width: 35%;
  margin: 0 auto;
}

.italics {
  font-style: italic;
}

.word {
  font-weight: bold;
  text-decoration: underline;
}
#buttom {
  width:150px;
  margin-top:10px;
  height: 40px;
  color:white;
  background-image: linear-gradient(to right, rgb(255, 141, 11), rgb(242, 45, 45));
  border:none;
  font-size:17px;
  border-radius: 20px;
  box-shadow: 3px 3px 2px 2px gray;
}
#buttom:hover{
  cursor: pointer;
  color:rgb(245, 0, 0);
}

a {
  text-decoration: none;
  color:blueviolet;
}